<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-body">
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="loader" style="margin-bottom:0px"></h4>
					<h4 class="modal-title" id="myModalLabel" style="text-align: center"><%= gt.gettext("Even geduld, we verwerken uw factuur...") %></h4>
				</div>

				<div class="modal-body center">

					<img src="/images/light-bulb.png" alt="" />

					<div class="modal-header">
						<span class="modal-title" id="myModalLabel" style="text-align: center"><%= gt.gettext("Wist u dat u mits één maand opzeg steeds van energieleverancier kunt veranderen, ook als u nog een lopend contract heeft?") %></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
