<!-- Footer
		============================================= -->
<footer id="footer" class="dark">

    <!-- Copyrights
                        ============================================= -->
    <div id="copyrights" class="nopadding">

        <div class="container clearfix">

            Copyrights &copy; 2017 All Rights Reserved by Smart and Easy BVBA.
            <br>
            <a style="color: #ccccff;" href="/<%=sess.site_lang%>/terms-and-conditions">
                <%= gt.gettext("Gebruiksvoorwaarden") %>
            </a>

        </div>

    </div>
    <!-- #copyrights end -->

</footer>
<!-- #footer end -->