<div id="loadingModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <div class="modal-inside">
            <!-- Content -->
            <div id="loading-content" class="clearfix">
                <div id="loader"></div>
                <div id="loader-text">
                    <p><%= gt.gettext('Even geduld. We zijn uw factuur aan het analyseren.'); %></p>
                </div>
            </div>
            <div id="video-container">
                <img src="images/light-bulb.png" alt="" />
                <p><%= gt.gettext('Wist u dat wij ook de overstap super makkelijk kunnen regelen? Druk gewoon op de knop -overstap regelen- en u zal zien dat wij al het papierwerk voor onze rekening nemen');%></p>
                <!--<iframe width="280" height="158" src="https://www.youtube.com/embed/<%= sess.moviecode %>?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
                <video id="my-video" class="video-js" controls preload="auto" poster="/assets/video/poster/oceans.jpg" data-setup="{}">
                    <source src="/assets/video/oceans.mp4" type='video/mp4'>
                    <source src="/assets/video/oceans.webm" type='video/webm'>
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video.</p>
                </video>-->
            </div>
        </div>
    </div>
    